{% extends "myadmin/base.html" %}

{% block content-header %}
    账号管理 <small>添加员工账号</small>
{% endblock %}

{% block content %}
<div class="card">
    <div class="content-header">
        <h3 style="font-size: 18px;"> 添加新员工账号</h3>
    </div>
    
    <form action="{% url 'myadmin_user_insert' %}" method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label class="form-label">员工账号：</label>
            <div class="form-input-wrapper">
                <input type="text" name="username" class="form-control" placeholder="请输入员工账号" required>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">昵称：</label>
            <div class="form-input-wrapper">
                <input type="text" name="nickname" class="form-control" placeholder="请输入员工昵称" required>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">密码：</label>
            <div class="form-input-wrapper">
                <input type="password" name="password" class="form-control" placeholder="请输入密码" required>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">重复密码：</label>
            <div class="form-input-wrapper">
                <input type="password" name="repassword" class="form-control" placeholder="请再次输入密码" required>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">提交保存</button>
            <button type="reset" class="btn" style="background-color: #eee;">重置</button>
        </div>
    </form>
</div>
{% endblock %}