@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1766736933829') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianpu:before {
  content: "\e736";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-shouye:before {
  content: "\e61c";
}

.icon-caipinguanli:before {
  content: "\e503";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-refresh:before {
  content: "\e675";
}

.icon-fanhui:before {
  content: "\e61f";
}

.icon-yuangong:before {
  content: "\ea3f";
}

.icon-a-1:before {
  content: "\e642";
}

